/* .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    min-width: 100vw;
    background-color: #171717;
    height: 50px;
}

.linkNavbar{
    color: #ffa533;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
} */


/* Navbar responsiva */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--cor-fundo);
}

.navbar h2 {
  font-size: 1.2rem;
  color: var(--cor-laranja);
}

.linkNavbar {
  color: var(--cor-laranja);
  text-decoration: none;
  font-size: 1rem;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.linkNavbar:hover {
  /* background-color: var(--cor-tabela-header); */
  scale: 1.05;
  transition: ease-in-out 0.1s;
  text-decoration: underline;
}